/** src/directives/waves.css */
@include b(application) {
  @keyframes wave {
    0% {
      transform: scale(0);
      border-radius: 50%;
    }
    80% {
      transform: scale(1);
      border-radius: 0%;
    }
    90% {
      transform: scale(1);
      border-radius: inherit;
    }
    100% {
      transform: scale(1);
      border-radius: inherit;
    }
  }
  .waves {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    opacity: 0;
    border-radius: inherit;
  }
}
