@include b(application) {
  /* app-bar */
  @include b(app-bar) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    padding: 4px 16px;
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    border-radius: $app-bar-border-radius;
    border-width: 0 0 thin;
    border-bottom-color: rgba(0, 0, 0, 0.12) !important;
    border-style: solid;
  }

  /* app-bar-nav-icon */
  @include b(app-bar-nav-icon) {
    margin-right: 12px;
  }

  /* app-bar-title */
  @include b(app-bar-title) {
    color: $color-on-background;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
  }
}
